.sidebar-lg-show .modal-full {
  .modal {
    left: 200px;
  }
  .modal-backdrop {
    left: 200px;
  }
}

.modal-full {
  .modal {
    position: fixed;
    top: 55px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    transition: position 0.25s;
    margin: 20px;
  }

  .modal-backdrop {
    top: 55px;
    left: 0;
    transition: position 0.25s;
  }

  .close {
    font-size: 2rem;
    padding: 5px 20px;
  }

  .modal-dialog {
    position: absolute;
    margin: 0;
    max-width: 100%;
    width: 100%;
    height: 100%;
    padding: 0;
  }

  .modal-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 0;
    box-shadow: none;
  }

  .modal-header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 50px;
    padding: 10px;
    border: 0;
  }

  .modal-title {

  }

  .modal-body {
    position: absolute;
    top: 50px;
    bottom: 60px;
    width: 100%;
    font-weight: 300;
    overflow: auto;
  }

  .modal-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 60px;
    padding: 10px;
  }
}