.app-header {
  @include media-breakpoint-down(md) {
    .navbar-collapse {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background: #fff;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.35);

      .navbar-nav {
        display: block;

        li {
          width: 100%;
        }
      }
    }
  }

  .app-header-dropdown {
    
  }
}