body.customermenu {
  .app-body {
    margin-top: 75px;
    padding-top: 20px;

    @include media-breakpoint-up(md) {
      margin-top: 0;
      padding-top: 0;
    }
  }

  .category-slider {
    position: fixed;
    top: 75px;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 1000;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.35);

    .slick-slider {
      margin-bottom: 0;

      .slick-list {
        margin: 0;
      }
    }
  }

  .item-text {
    padding: 0px 5px 0px 0px !important;
    margin: 0px !important;

    @media all and (min-width: 768px) and (max-width: 849px) {
      flex: 0 0 100% !important;
      width: 100% !important;
      max-width: 100% !important;
    }
  }

  .item {
    padding-bottom: 20px;
    @include media-breakpoint-up(md) {
      margin-top: 15px;
      padding-top: 15px;
    }
    // border-bottom: 1px solid #f3ecec;

    .item-wrap {
      display: flex;
      position: relative;
      flex-wrap: wrap;
      height: 100%;
    }

    .image {
      position: relative;
      width: 45%;
      order: 1;

      @include media-breakpoint-up(sm) {
        width: 100%;
        order: 0;
      }
    }

    .meta {
      width: 55%;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-right: 15px;

      @include media-breakpoint-up(sm) {
        width: 100%;
        padding-right: 0;
      }
    }

    .title {
      width: 100%;
      font-weight: bold;
      margin-bottom: 2px;
      text-align: left;

      @include media-breakpoint-up(md) {
        text-align: center;
        margin-bottom: 10px;
      }
    }

    .description {
      font-size: 14px;

      @include media-breakpoint-up(md) {
        font-size: 16px;
      }
    }

    .allergies {
      font-size: 14px;
    }

    .actions {
      width: 100%;
      order: 2;

      @include media-breakpoint-up(sm) {
        margin-top: 5px;
      }

      .quantity {
        width: 70px;
      }
    }
  }
}
