@font-face {
  font-family: 'gotham';
  src: url('fonts/Gotham-Light.eot');
  src: url('fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'),
      url('fonts/Gotham-Light.woff2') format('woff2'),
      url('fonts/Gotham-Light.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'gotham-light';
  src: url('fonts/Gotham-Light.eot');
  src: url('fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'),
      url('fonts/Gotham-Light.woff2') format('woff2'),
      url('fonts/Gotham-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'gotham-bold';
  src: url('fonts/Gotham-Bold.eot');
  src: url('fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
      url('fonts/Gotham-Bold.woff2') format('woff2'),
      url('fonts/Gotham-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'gotham-medium';
  src: url('fonts/Gotham-Medium.eot');
  src: url('fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
      url('fonts/Gotham-Medium.woff2') format('woff2'),
      url('fonts/Gotham-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'gotham-condensed';
  src: url('fonts/GothamCondensed-Light.eot');
  src: url('fonts/GothamCondensed-Light.eot?#iefix') format('embedded-opentype'),
      url('fonts/GothamCondensed-Light.woff2') format('woff2'),
      url('fonts/GothamCondensed-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'gotham-narrow';
  src: url('fonts/GothamNarrow-Light.eot');
  src: url('fonts/GothamNarrow-Light.eot?#iefix') format('embedded-opentype'),
      url('fonts/GothamNarrow-Light.woff2') format('woff2'),
      url('fonts/GothamNarrow-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'gotham-black';
  src: url('fonts/Gotham-Black.eot');
  src: url('fonts/Gotham-Black.eot?#iefix') format('embedded-opentype'),
      url('fonts/Gotham-Black.woff2') format('woff2'),
      url('fonts/Gotham-Black.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}